<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://drmirrorscrubs.runasp.net/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>site71258.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site71258</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>site71258</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishFramework>net10.0</PublishFramework>
    <SelfContained>False</SelfContained>
    <UseAppHost>False</UseAppHost>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
  </PropertyGroup>
</Project>
